rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2
  - 2.3.1
  - 2.4.0
  - jruby-9.1.5.0
before_install:
  - gem install bundler
matrix:
  include:
  - rvm: rbx-3.62
    dist: trusty # Ubuntu 14.04 (trusty)
  allow_failures:
    - rvm: jruby-9.1.5.0
    - rvm: rbx-3.62